@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}


@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.submit {
  border-radius: 0px 6px 6px 0px;
}


$bg: #18191c;
$header: #181717;
$btn: #2b2d31;